/* ---------- PROJECT PAGE ---------- */

.project-hero {
    max-width: 1100px;
    margin: 100px auto 60px;
    padding: 0 20px;
    text-align: center;
    color: #9fd3c7;

}
.project-hero h1 {
    margin-bottom: 30px; /* ajusta el valor a tu gusto */
}
.resume {
    text-decoration: none;
    color: #9fd3c7;
}

.resume:hover {
    color: white;
}
.project-hero img {
    width: 100%;
    max-width: 900px;
    border-radius: 16px;
    border: 2px solid #9fd3c7;
    box-shadow: 0 0 30px rgba(159,255,224,0.25);
    

}

.project-content {
    max-width: 900px;
    margin: 0 auto 160px;
    padding: 0 20px;
}

.project-section {
    margin-bottom: 60px;
}

.project-section h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #9fd3c7;
}

.project-section p,
.project-section li {
    font-size: 1rem;
    line-height: 1.8;
    color: #9fd3c7;
}

.project-section ul {
    padding-left: 20px;
}

.project-section li {
    margin-bottom: 10px;
}
